<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <ul>
        <% users.forEach(function(user) { %>
          <li>
            <strong><%= user %></strong>
       
          </li>
        <% }); %>
      </ul>
</body>

</html>